{% extends 'base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/admin/create-category/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create new category</a>
            </div>
            <div class="col-sm">
                <a href="/admin/create-product/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create new product</a>
            </div>
        </div>
    </div>
    <div >

{% endblock %}